*.pdf
*.log
*.aux
*.out
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.synctex.gz
*.nav
*.snm
*.toc
output/
Figures/
*.RData
*.Rhistory
.deps
*.Rout
tables/
R/Figs/
*.html
talapas-output/
manuscript/manuscript.docx
manuscript/240719Royal_Society_Paper_BJMB.docx
*.docx
*.docx*
supplement/
supplement.zip
